@import "tailwindcss";

@theme {
  --font-serif: var(--font-cormorant);
  --font-sans: var(--font-inter);
  
  --color-burgundy: #3D081A;
  --color-burgundy-900: #2A0512;
  --color-ivory: #F5E9D5;
  --color-ivory-100: #FCF9F2;
  --color-beige: #E6D5B8;
  --color-champagne: #CBA365;
}

@layer base {
  body {
    background-color: var(--color-burgundy);
    color: var(--color-ivory);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    font-weight: 400;
  }
}

/* Custom Selection */
::selection {
  background-color: var(--color-champagne);
  color: var(--color-burgundy-900);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-burgundy);
  border-left: 1px solid rgba(212, 175, 55, 0.1);
}

::-webkit-scrollbar-thumb {
  background: var(--color-champagne);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E6D5B8;
}
